:root, :root.light {
    --page-bg-color: linear-gradient(144deg, rgba(255,255,255,1) 0%, rgb(187, 187, 206) 39%, rgba(255,255,255,1) 100%);
    --text-color: #645454;
    --icon-color: #645454;
    --line-color: #000000;
    --title-bg-color: #f8f8f8;
    --box-bg-color: #f8f8f8;
    --box-hover-bottom-color: #1c1c1c;
    --box-hover-right-color: #848484;
    --box-click-bottom-color: #201c1c;
    --box-click-right-color: #000000;
}

:root.dark {
    --page-bg-color: linear-gradient(144deg, rgba(0,0,0,1) 0%, rgb(70, 70, 71) 35%, rgba(2,16,19,1) 100%);
    --text-color: #dbdbdb;
    --icon-color: #dbdbdb;
    --line-color: #dbdbdb;
    --title-bg-color: #404241;
    --box-bg-color: #444040;
    --box-hover-bottom-color: #ffffff;
    --box-hover-right-color: #dcc9c9;
    --box-click-bottom-color: #000000;
    --box-click-right-color: #030303;
}

:root.blue {
    --page-bg-color: linear-gradient(144deg, rgba(2,0,36,1) 0%, rgba(4,4,251,1) 35%, rgba(0,212,255,1) 100%);
    --text-color: #d3e0f7;
    --icon-color: #8EC0E4;
    --line-color: #dbdbdb;
    --title-bg-color: #0a4076;
    --box-bg-color: #0a4076;
    --box-hover-bottom-color: #1ec0ff;
    --box-hover-right-color: #03a6ff;
    --box-click-bottom-color: #03a6ff;
    --box-click-right-color: #0a8bd1;
}

:root.red {
    --page-bg-color: linear-gradient(144deg, rgb(255, 0, 0) 0%, rgba(246, 7, 194, 0.478) 35%, rgb(201, 11, 11) 100%);
    --text-color: #ff009d;
    --icon-color: #ff003c;
    --line-color: #ffffff;
    --title-bg-color: hsl(0, 0%, 100%);
    --box-bg-color: #ffffff;
    --box-hover-bottom-color: #c61ecf;
    --box-hover-right-color: #d24646;
    --box-click-bottom-color: #ffffff;
    --box-click-right-color: #d9d9d9;
}

:root.purple {
    --page-bg-color: linear-gradient(144deg, rgb(106, 0, 255) 0%, rgb(38, 63, 69) 35%, rgb(93, 9, 229) 100%);
    --text-color: #f4f5f7;
    --icon-color: #e4c7eb;
    --line-color: #dbdbdb;
    --title-bg-color: #5356b7;
    --box-bg-color: #5356b7;
    --box-hover-bottom-color: #6e67b9;
    --box-hover-right-color: #7a83ca;
    --box-click-bottom-color: #1e1e31;
    --box-click-right-color: #1b1e20;
}

:root.dev {
    --page-bg-color: linear-gradient(144deg, rgb(136, 131, 230) 0%, rgb(97, 97, 168) 35%, rgba(0,212,255,1) 100%);
    --text-color: #edb6fb;
    --icon-color: #e48bfa;
    --line-color: #dbdbdb;
    --title-bg-color: #5356b7;
    --box-bg-color: #5356b7;
    --box-hover-bottom-color: #c4c3d0;
    --box-hover-right-color: #cfd0d7;
    --box-click-bottom-color: #b700ff;
    --box-click-right-color: #573266;
}

body {
    min-height: 100vh;
    font-family: 'Trebuchet MS', sans-serif;
    background: var(--page-bg-color);
    color: var(--text-color);
    user-select: none;
}

.profile {
    border-radius: 100%;
    display: block;
    margin: 50px auto 0 auto;
    justify-content: center;
    width: 100px;
    height: 100px;
}

.title {
    margin: 20px auto;
    padding: 10px;
    width: 60%;
    background-color: var(--title-bg-color);
    border-radius: 30px;
    text-align: center;
}

.sns_list {
    padding-top: 80px;
    border-top: 1px solid var(--line-color);
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
}

.sns {
    cursor: pointer;
    padding: 20px;
    margin: 10px;
    border-radius: 30px;
    background: var(--box-bg-color);
    width: 200px;
    height: 110px;
    transition: opacity 500ms, border 500ms;
}

.sns:hover {
    opacity: 0.7;
    border-bottom: 20px solid var(--box-hover-bottom-color);
    border-right: 10px solid var(--box-hover-right-color);
}

.sns:active {
    opacity: 1;
    border-bottom: 10px solid var(--box-click-bottom-color);
    border-right: 5px solid var(--box-click-right-color);
}

.icon {
    width: 50px;
    height: 50px;
}

.icon>path {
    fill: var(--icon-color);
}

@media (max-width: 600px) {
    .sns_list {
        justify-content: center;
        flex-direction: row;
    }

    .sns {
        width: 150px;
        height: 100px;
        font-size: 15px;
    }

    .sns:hover {
        border-bottom: 10px solid var(--box-hover-bottom-color);
        border-right: 5px solid var(--box-hover-right-color);
    }

    .sns:active {
        border-bottom: 5px solid var(--box-click-bottom-color);
        border-right: 2px solid var(--box-click-right-color)
    }
}